
/* General Styles */
html {
    font-size: 16px;
    background-color: black;
    color: rgb(0, 255, 234);
    text-shadow: 5px 5px 5px rgb(24, 202, 187);
}
body {
    width: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(255, 251, 2);
}

a:visited {
    color: rgb(255, 251, 2);
}

a:hover {
    color: blueviolet;
}

h2 {
    border: 3px solid;
    border-color: rgb(0, 255, 234);
    border-radius: 0.5rem;
    padding: 0.3rem;
    width: auto;
    font-size: 1.8rem;
    font-family: "Imbue", serif;
}

h3 {
    border: 3px solid;
    border-color: rgb(0, 255, 234);
    border-radius: 0.5rem;
    padding: 0.2rem;
    width: auto;
    font-size: 1.2rem;
    font-family: "Imbue", serif;
}

span {
    border: 3px solid;
    border-color: rgb(0, 255, 234);
    border-radius: 0.5rem;
    padding: 0.2rem;
    width: auto;
    font-size: 1.2rem;
    font-family: "Patua One", serif;
}

/* Header */

header {
    position: sticky;
    top: 0;
    color: rgb(0, 255, 234);
    background-color: black;
    width: 100%;
       
}

header div {
    display: flex;
    justify-content: center;
}

header img {
    margin: 1rem;
    left: 4px;
    max-height: 150px;
}

header h1 {
    text-align: center;
    font-size: 4rem;
    font-family: "imbue", serif;
}

header ul {
    list-style-type: none;
    font-size: 2rem;
    display: flex;  
    justify-content: center;
    font-family: "Imbue", serif;
}

header ul li {
    margin: 0 1.5rem 1.5rem 1rem;    
}


@media only screen and (max-width: 1000px) {
    header img {
        max-height: 65px;
    }

    header h1 {
        font-size: 2.5rem;
    }

    header li {
        font-size: 1.75rem;        
    }
}

@media only screen and (max-width: 745px) {
    header {
        max-height: 15rem;
    }
    
    header div h1 {
        font-size: 2rem;
    }

    header {
        margin: 0 0.55rem 0 0;
        padding: 0;
    }

    header li {
        font-size: 1.5rem;        
    }

    header ul li {
        margin: 0 0.5rem 0.5rem 1rem;    
    }

    header img {
        max-height: 50px;
    }
}


/* Banner */
#banner {
    height: 700px;
    background-image: url("./Resources/story-background-1-1--eyzD0CVNW.webp");
}

.banner-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
}

#banner .banner-main-text {
    padding: 2rem;
    border: 8px solid;
    border-color: rgb(0, 255, 234);
    border-radius: 0.75rem;
    margin: auto;
    width: 85%;
    font-size: 1.75rem;
    font-family: "imbue", serif;
    color: white;
    background-color: rgb(0, 255, 234, 0.1);
}

@media only screen and (max-width: 745px) {
    #banner .banner-main-text {
        width: 75%;
    }

    
}

/* Game Aspects */
 #game-info{
    color: rgb(0, 255, 234); 
    margin: 4rem;      
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-flex-item {
    padding: 5px;    
    margin: 1rem 2rem;           
}

.info-flex-item img {
    height: 280px; 
    width: auto;
    margin: 2px;
    display: block;      
}

.info-flex-item span {
    display: block;
    margin: 2px;
    text-align: center;
    max-width: 485px;
}

#shrink {
    color: red;
}




/* Creators */
#creators {
    color: rgb(0, 255, 234); 
    margin: 4rem;
}

.stretch {
    height: 13rem;
    display: flex;
    justify-content: center;
    max-width: 100%;
}


.stretch .two{
    flex-grow: 2;
    flex-shrink: 3;
    flex-basis: 2rem;
}

/* Footer */
.copyright {
    text-align: center;
}

#footer {
    margin-top: 4rem;
}

.footer-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-list p {
    margin: 0 1.3rem 1.3rem 1.3rem;
    
}